<div class="last-footer">
  <h3 class="wg-title">Get Newsletters</h3>
  <div class="newsletter">
    <form action="{{ section.settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <p>
        <input type="email" value="" name="EMAIL" class="newsletter-email" id="mce-EMAIL" placeholder="email address" required>
      </p>
      <p>
      	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="newsletter-submit">
      </p> 
    </form>
  </div>
  <div class="widget_text">
    <h3 class="wg-title">Connect Us</h3>
    <div class="textwid">
      <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div>
  </div>
</div>